<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResumesX | Full Stack Developer Resume</title>
    <link rel="stylesheet" href="css/create.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/path/to/cdn/jquery.min.js"></script>
    <script src="/path/to/jQuery.print.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        @media print {

            .header,
            .box,
            .addButton,
            input[type=button],
            .addInputButton,
            .removeInputButton{
                display: none;


            }
            .resumeContainer{
                box-shadow: none;
                width: 1180px;
            }
            .component{
                width: 1160px;
                border-radius: 0;
            }
            .ProfilePhoto{
                margin-left: 950px;

            }
            .modifyContainer{
                display: none;
            }
            table{
                width: 86%;
            }
        }
    </style>
</head>

<body onload="createTable()">
    <div class="header">
        <div class="brand">
            <a href="/">Résumés<b>X</b></a>
        </div>
    </div>
    <div class="modifyContainer">
            <!-- change color -->
            <p class="headingTheme"><b>Select color:</b></p>
            <div class="changeColor">
                <button id="color" onclick="color()"></button>
                <button id="color1" onclick="color1()"></button>
                <button id="color2" onclick="color2()"></button>
                <button id="color3" onclick="color3()"></button>
                <button id="color4" onclick="color4()"></button>
                <button id="color5" onclick="color5()"></button>
                <button id="color6" onclick="color6()"></button>
                <button id="color7" onclick="color7()"></button>


            </div>
            <p class="headingTheme1"><b>Select font-style:</b></p>

            <select id="fontOptions" class="selectFont" onchange="changeFontStyle(this);">
                <option value="Arial">Arial (sans-serif)</option>
                <option value="Verdana">Verdana (sans-serif)</option>
                <option value="Tahoma">Tahoma (sans-serif)</option>
                <option value="Trebuchet MS">Trebuchet MS (sans-serif)</option>
                <option value="Times New Roman">Times New Roman (serif)</option>
                <option value="Georgia">Georgia (serif)</option>
                <option value="Garamond">Garamond (serif)</option>
                <option value="Courier New">Courier New (monospace)</option>
                <option value="Brush Script MT">Brush Script MT (cursive)</option>
            </select>

            <p class="headingTheme3"><b>Show Profile:</b></p>
            <label class="switch">

                <input type="checkbox" checked  onclick="hideProfile()">
                <span class="slider round"></span>
              </label>
            <button class="printButton" onclick="window.print()">Print Resume</button>

    </div>        
    <div class="resumeContainer" id="print">
        <div class="component" id="component1"></div>
        <!-- Profile image -->
        <div class="ProfilePhoto">
            <div id="profile-container">
                <image id="profileImage" src="img/profile.png" />
            </div>
            <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>

        </div>

        <div id="fontChange">
            <input type="text" class="nameHeading" value="FULL STACK" id="inputName"><br>
            <input type="text" class="professionalTitle" value="Expert in MERN Stack and using various AI Modules" id="ProfName">
            <div class="metaContainer">
                <label for="contact" class="metaHeading" style="background-color: transparent;"><b>Contact no: </b></label>
                <input type="text" size="13" class="metainputs" value="+91 9912568910 / 9968671234"><br>
                <label for="email" class="metaHeading"><b>Email: </b></label>
                <input type="text" size="30" class="metainputs" value="abc@domain.com"><br>
            </div>

            <div class="careerObjContainer">
                <label for="careerObj" class="cheading"><b>Career Objectives</b></label><br>
                <textarea class="careerObjInput"
                    placeholder="Administrative Assistant with 6+ years of experience organizing presentations, preparing facility reports, and maintaining the utmost confidentiality. Possess a B.A in History and expertise in Microsoft Excel. Looking to leverage my knowledge and experience into a role as Project Manager.">My Objective is to master the Web using my Javascript Skills and Techiniques also using various modules and packages for making better interacive, dynamic and responsive websites
                </textarea><br>

            </div>

            <div class="acadamicPerfContainer">
                <label for="acadamicPerf" class="aheading"><b>Acadamic Performance</b></label><br>
                <p>
                    <button id="addRow" class="addButton" onclick="addRow()">+</button>
                </p>

                <div class="acadamicPerformanceTable">
                    <div>
                        <div id="cont" class="tableHere"></div> <!-- the container to add the TABLE -->

                        <p id='output'></p>
                    </div>
                </div>
            </div>

            <div class="certificateContainer">
                <label for="certificate" class="ceheading"><b>Certifications</b></label><br>
                <!-- add input button -->
                <button id="rowAdder1" type="button" class="addInputButton">+</button>

                <ul class="certificate1">
                    <div id="newinput1"></div>
                </ul>
            </div>
            
            <div class="projectContainer">
                <label for="project" class="pheading"><b>Projects</b></label><br>
                <!-- add input button -->
                <button id="rowAdder2" type="button" class="addInputButton">+</button>

                <ul class="project1">
                    <div id="newinput2"></div>
                </ul>
            </div>

            <div class="internshipContainer">
                <label for="intern" class="iheading"><b>Internships</b></label><br>
                <!-- add input button -->
                <button id="rowAdder" type="button" class="addInputButton">+</button>

                <ul class="intern1">
                    <div id="newinput"></div>
                </ul>

            </div>
<!-- 
            <div class="aoiContainer">
                <label for="aoi" class="aoiheading"><b>Areas Of Interest</b></label><br>
                <button id="rowAdder3" type="button" class="addInputButton">+</button>

                <ul class="aoi1">
                    <div id="newinput3"></div>
                </ul>

            </div>             -->


        </div>
    </div>


    <script>


        //profile upload
        $("#profileImage").click(function (e) {
            $("#imageUpload").click();
        });

        function fasterPreview(uploader) {
            if (uploader.files && uploader.files[0]) {
                $('#profileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]));
            }
        }

        $("#imageUpload").change(function () {
            fasterPreview(this);
        });

        //hide profile when not needed
        function hideProfile() {
            var x = document.getElementById("profile-container");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        //print
        /* function printDiv() {
             var divContents = document.getElementById("fontChange").innerHTML;
             var a = window.open('', '_self', 'height=1000, width=1000');
             a.document.write(divContents);
             a.document.close();
             a.print();
         }*/
        /*
       const printBtn = document.getElementById('printButton');

       const printPage = () => {
           const printFrame = document.createElement('iframe');
           printFrame.style.display = 'none';
           printFrame.src = 'create';

           document.body.appendChild(printFrame);

           printFrame.contentWindow.focus();
           printFrame.contentWindow.print();
       }

       printBtn.addEventListener('click', () => {
           printPage();
       })*/

        // $(document).ready(function() {
        //     $('printButton').click(function(){
        //         $('print').printThis();
        //     })
        // })



        //change font style function
        var changeFontStyle = function (font) {
            document.getElementById(
                "fontChange").style.fontFamily
                = font.value;

            document.getElementById('inputName').style.fontFamily = font.value;
            document.getElementById('ProfName').style.fontFamily = font.value;


        }

        //change color function
        function color() {
            document.getElementById('print').style.color = "#D72631";
            document.getElementById('component1').style.backgroundColor = "#D72631";

        }

        function color1() {
            document.getElementById('print').style.color = "#518FD1";
            document.getElementById('component1').style.backgroundColor = "#518FD1";

        }

        function color2() {
            document.getElementById('print').style.color = "#E68E35";
            document.getElementById('component1').style.backgroundColor = "#E68E35";

        }

        function color3() {
            document.getElementById('print').style.color = "#484B5A";
            document.getElementById('component1').style.backgroundColor = "#484B5A";

        }

        function color4() {
            document.getElementById('print').style.color = "#1C6B75";
            document.getElementById('component1').style.backgroundColor = "#1C6B75";

        }

        function color5() {
            document.getElementById('print').style.color = "#FB6CFF";
            document.getElementById('component1').style.backgroundColor = "#FB6CFF";

        }

        function color6() {
            document.getElementById('print').style.color = "#8F8CF3";
            document.getElementById('component1').style.backgroundColor = "#8F8CF3";

        }

        function color7() {
            document.getElementById('print').style.color = "#FF6E40";
            document.getElementById('component1').style.backgroundColor = "#FF6E40";

        }



        //tables function
        let arrHead = new Array();	// array for header.
        arrHead = ['','Course', 'Institution', 'Year of passing', 'Percentage/CGPA'];

        // first create TABLE structure with the headers.
        let createTable = () => {
            let empTable = document.createElement('table');
            empTable.setAttribute('id', 'empTable'); // table id.

            let tr = empTable.insertRow(-1);
            for (let h = 0; h < arrHead.length; h++) {
                let th = document.createElement('th'); // create table headers
                th.innerHTML = arrHead[h];
                tr.appendChild(th);
            }

            let div = document.getElementById('cont');
            div.appendChild(empTable);  // add the TABLE to the container.
        }

        // now, add a new row to the TABLE.
        let addRow = () => {
            let empTab = document.getElementById('empTable'); 3

            let rowCnt = empTab.rows.length;   // table row count.
            let tr = empTab.insertRow(rowCnt); // the table row.
            tr = empTab.insertRow(rowCnt);

            for (let c = 0; c < arrHead.length; c++) {
                let td = document.createElement('td'); // table definition.
                td = tr.insertCell(c);

                if (c === 0) {      // the first column.
                    // add a button in every new row in the first column.
                    let button = document.createElement('input');

                    // set input attributes.
                    button.setAttribute('type', 'button');
                    button.setAttribute('value', '-');

                    // add button's 'onclick' event.
                    button.setAttribute('onclick', 'removeRow(this)');

                    td.appendChild(button);
                }
                else {
                    // 2nd, 3rd and 4th column, will have textbox.
                    let ele = document.createElement('textarea');
                    ele.setAttribute('type', 'text');
                    ele.setAttribute('value', '');

                    td.appendChild(ele);
                }
            }
        }

        // delete TABLE row function.
        let removeRow = (oButton) => {
            let empTab = document.getElementById('empTable');
            empTab.deleteRow(oButton.parentNode.parentNode.rowIndex);
            // button -> td -> tr.
        }

        // // function to extract and submit table data.
        // let submit = () => {
        //     let myTab = document.getElementById('empTable');
        //     let arrValues = new Array();

        //     // loop through each row of the table.
        //     for (row = 1; row < myTab.rows.length - 1; row++) {
        //         // loop through each cell in a row.
        //         for (c = 0; c < myTab.rows[row].cells.length; c++) {
        //             let element = myTab.rows.item(row).cells[c];
        //             if (element.childNodes[0].getAttribute('type') == 'text') {
        //                 arrValues.push("'" + element.childNodes[0].value + "'");
        //             }
        //         }
        //     }

        //     // The final output.
        //     document.getElementById('output').innerHTML = arrValues;
        //     //console.log (arrValues);   // you can see the array values in your browsers console window. Thanks :-)
        // }

        
        //certificate add & clear button
        $("#rowAdder1").click(function () {
            newRowAdd1 =
            '<div id="row1">' +
                '<div class="input-group m-3">' +
                '<div class="input-group-prepend">' +
                '<button class="removeInputButton" id="DeleteRow1" type="button">' +
                '-</button> </div>' +
                '<div class="sideBorder">' +
                '<input type="text" class="addedInputSession" value="FULL STACK DEVELOPER CERTIFICATION-COURSIA"><br>' +
                '<input type="text" class="addedInputSession1" value="July 2022 - November 2022"></input><br>' +
                '<textarea type="text" class="addedTextarea" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.">This course helped me a lot for my learning, I learend a lot about the whole MVC architecture and wworking of the Expressjs appkication</textarea>' +
                '</div> </div>';

            $('#newinput1').append(newRowAdd1);
        });

        $("body").on("click", "#DeleteRow1", function () {
            $(this).parents("#row1").remove();
        })

        //projects add & clear button
        $("#rowAdder2").click(function () {
            newRowAdd2 =
                '<div id="row2">' +
                '<div class="input-group m-3">' +
                '<div class="input-group-prepend">' +
                '<button class="removeInputButton" id="DeleteRow2" type="button">' +
                '-</button> </div>' +
                '<div class="sphere"><div>' +
                '<div class="sideBorder">' +
                '<input type="text" class="addedInputSession" value="Resume Builder Website"><br>' +
                '<input type="text" class="addedInputSession1" value="Technology Stack - HTML, CSS, JS, Nodejs & Exoressjs, Mongodb"><br>' +
                '<textarea type="text" class="addedTextarea" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.">Resume Builder Web Application enables you to create your own resume without anyt efforts to write our create from strach</textarea>' +
                '</div> </div> </div>';

            $('#newinput2').append(newRowAdd2);
        });

        $("body").on("click", "#DeleteRow2", function () {
            $(this).parents("#row2").remove();
        })

        
        //Intership add & clear button
        $("#rowAdder").click(function () {
            newRowAdd =
                '<div id="row">' +
                '<div class="input-group m-3">' +
                '<div class="input-group-prepend">' +
                '<button class="removeInputButton" id="DeleteRow" type="button">' +
                '-</button> </div>' +
                '<div class="sphere"><div>' +
                '<div class="sideBorder">' +
                '<input type="text" class="addedInputSession" value="GOOGLE, MUMBAI -  "Frontend developer><br>' +
                '<input type="text" class="addedInputSession1" value="JAN 2022 - FEB 2022"></input><br>' +
                '<textarea type="text" class="addedTextarea" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.">Created a lot of Frontend Projects using Reactjs and AngulerJs and also joined for their companies project</textarea>' +
                '</div> </div> </div>';

            $('#newinput').append(newRowAdd);
        });

        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })


        //Area of interest add & clear button

        $("#rowAdder3").click(function () {
            newRowAdd3 =
                '<div id="row3">' +
                '<div class="input-group m-3">' +
                '<div class="input-group-prepend">' +
                '<button class="removeInputButton" id="DeleteRow3" type="button">' +
                '-</button> </div>' +
                '<ul><li>' +
                '<input type="text" class="addedTextareaO" placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">' +
                '</li<> </ul> </div> </div>';

            $('#newinput3').append(newRowAdd3);
        });

        $("body").on("click", "#DeleteRow3", function () {
            $(this).parents("#row3").remove();
        })

        




 
        

    </script>


</body>

</html>