<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ResumesX</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="header">
    <div class="brand">
      <a href="/">Résumés<b>X</b></a>
    </div>
    <div class="topnav">
      <a href="#templates" class="navigations-links">Templates</a>
    </div>
    <div class="loginandregister">
      <div class="login">
        <a href="/login">Log in</a>
      </div>
      <div class="register">
        <a href="/signup">Get Started</a>
      </div>
    </div>
  </div>

  <div>
    <img src="img/ty1.jpg" alt="typewriter" class="image1">
    <img src="img/ty2.jpg" alt="typewriter" class="image2">
    <img src="img/ty3.jpg" alt="typewriter" class="image3">

  </div>
  <div>
    <p class="miniheading">Free & Open Source</p>
    <p class="headingText"><b>Generate Resumes</b></p>
    <p class="headingParaText">From Scratch</p>
  </div>
  <div class="create-btn">
    <a href="/createResume">Create Resumes</a>
  </div>


  <div class="secondSection" id="templates">
    <div class="buttons">
    <a href="/fsdResume" class="fswdButton">Fullstack Web Developer</a>
    <a href="" class="uiuxButton">UI/UX Designer</a>
    <a href="sdResume" class="seButton">Software Engineer</a>
    <a href="" class="daButton">Data Analist</a>
    <a href="" class="deButton">Devops Engineer</a>
    <a href="/aiResume" class="aiButton">AI Engineer</a>
    <a href="" class="consButton">IT Consultant</a>
    <a href="/gdResume" class="gdButton">Game developer</a>
    <a href="" class="csaButton">Cyber security analyst</a>
    <a href="" class="baButton">Business analyst</a>
    <a href="/msResume" class="madButton">Mobile App Developer</a>
    <a href="/mlResume" class="cheButton">ML Engineer</a>
    <a href="" class="dButton">Database Engineer</a>
    <a href="" class="pmButton">Project Manager</a>

    </div>

  </div> 


</body>

</html>

<!-- <div class="row">
      <div class="column">
        <div class="card">
          <img src="img/cardphoto1.png" alt="" class="cardImage">
          <h3 class="cardHeading">Create from scratch</h3>
          <p class="cardPara"></p>
        </div>
      </div>

      <div class="column">
        <div class="card0">
          <div class="card">
            <img src="img/cardphoto2.png" alt="" class="cardImage">
            <h3 class="cardHeading1">No Sign in/Sign up</h3>
            <p class="cardPara"></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="img/cardphoto3.png" alt="" class="cardImage">
          <h3 class="cardHeading2">Completely free</h3>
          <p class="cardPara"></p>
        </div>
      </div> -->